= simple_form_for @quest do |f|
  -if @quest.errors.any?
    #error_explanation
      %h2= "#{pluralize(@quest.errors.count, "error")} prohibited this quest from being saved:"
      %ul
        - @quest.errors.full_messages.each do |msg|
          %li= msg
  = f.input :title
  = f.input :description, :as => :text
  = f.button :submit, :label => "Save"
