%h1 Listing users

%table
  - @users.each do |user|
    %tr
      %td= user.email
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete
      %td= link_to 'Make a Quest', new_quest_path
%br

