<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DingMe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <%= render "shared/header" %>
    <div class="row-fluid">
      <div class="span2">
        <%= render "shared/sidebar" %>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}"  %>
        <% end %>
      </div>
      <div class="span8">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
