<!DOCTYPE html>
<html>
<head>
  <title>DingMe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div id="container">
    <div class="user_nav">
      <% if user_signed_in? %>
        Hey, <%= current_user.email %>
        <%= link_to "Edit your Profile,", edit_user_registration_path %>
        <%= link_to "Or Logout", destroy_user_session_path, method: :delete%>
      <% else %> 
        <%= link_to "Sign Up", new_user_registration_path %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div>

<%= yield %>
  </div>
</body>
</html>
